---
import { PaypalCalculator } from '../components/PaypalCalculator';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="min-h-screen bg-background text-foreground flex items-center justify-center p-4">
    <PaypalCalculator client:load />
  </main>
</Layout>
